#
# Notification:
#
[TROOT]
PKf=0x00000000000000000000000000000000

[DM_CRYPT_CFG]
key_size=256
key_value=0000000000000000000000000000000000000000000000000000000000000000

[MAKEFILE]
dm_verity=n
spl-vendor-sign-key=$(UTILITY_DIR)/data/rsakey_vendor/rsakey2048_vendor_private.pem
spl-bl31-sign-key=$(UTILITY_DIR)/data/rsakey_bl31/rsakey2048_bl31_private.pem
spl-uboot-sign-key=$(UTILITY_DIR)/data/rsakey_uboot/rsakey2048_uboot_private.pem
uboot-env-sign-key=$(UTILITY_DIR)/data/rsakey_env/rsakey2048_env_private.pem
uboot-kernel-sign-key=$(UTILITY_DIR)/data/rsakey_kernel/rsakey2048_kernel_private.pem
upgrade-image-sign-key=$(UTILITY_DIR)/data/rsakey_upgrade/rsakey2048_upgrade_private.pem
