gCHIP_REV          = 001

gBOARD             = nandddr4_config
gBOARD_BASE        = $(PRJDIR)/configs/$(CHIP)/$(gBOARD)
gDEV_PHASE         = d

gPROFILE_NAME      = artosyn-$(gBOARD)-$(CHIP)-$(gCHIP_REV)
gBUILD_CONFIG      = $(gBOARD_BASE)/build.config

gKERNEL_CONFIG     = $(gBOARD_BASE)/kernel/kernel-v4.9-17.07.config
gKERNEL_DTS        = $(gBOARD_BASE)/kernel/artosyn-kernel.dts

gUBOOT_CONFIG      = $(gBOARD_BASE)/uboot/u-boot-2020.10.config
gUBOOT_ENV         = $(gBOARD_BASE)/uboot/env_$(BOOT_MEDIA).txt

gBUSYBOX_CONFIG    = $(gBOARD_BASE)/scenario/busybox-1.25.0.config

gFS_CFG            ?= $(gBOARD_BASE)/plat/fs.json
gIMAGE_INI_FILE    ?= $(gBOARD_BASE)/plat/flash_layout_$(BOOT_MEDIA).ini

# vim: syntax=make
