#-----------------------------------------------------------------------
#
# Copyright 2014 - 2017 Synopsys, Inc.
#
# This Synopsys software and all associated documentation
# are proprietary to Synopsys, Inc. and may only be used pursuant to the
# terms and conditions of a written license agreement with Synopsys,
# Inc. All other use, reproduction, modification, or distribution of the
# Synopsys software or the associated documentation
# is strictly prohibited.
#
#-----------------------------------------------------------------------

[SB_HDR_BASE_IMAGE_ID]
12320304

[SB_HDR_BASE_ADDR_BLC]
1

[SB_HDR_BASE_ENCR_BLC]
1

[SB_HDR_BASE_SIGN_BLC]
1

// Encryption Block
[SB_HDR_ENCR_BLC_ENCRYPTION]
1

// Signature Block
[SB_HDR_SIGN_BLC_SIGNATURE]
5A 04 49 57 FB 82 FE 54 E3 1F 59 CF 1D 47 12 9D
A8 56 0D FB CC CD 1B 67 81 63 61 87 27 0D DD 6C
10 2C 74 C8 5B A4 71 ED 34 BE D9 33 BB E0 0C E4
A9 06 77 AF A6 90 49 50 A5 65 6B 31 DB CB 9B 46
A6 AE B7 02 C0 55 57 06 C8 F5 44 C8 62 A6 9D DC
60 5A D3 9D 29 B8 D6 8B 8D CB DD 87 56 6F FC FC
05 08 22 9E CF FC 73 20 85 FE 4F FD 30 67 D1 AC
50 79 D2 00 BB AE 4E AA E5 88 36 F8 0D A1 3C 09
8B 04 22 35 FD 5A 4A 8B B6 D2 D3 00 B6 00 85 23
72 FF 84 DE A7 71 27 7D 12 83 FE DC BB 9B 17 8B
1B 15 22 53 FD 80 22 C9 C9 BC B6 3C EB 8B A1 E0
85 8B 97 4B A4 46 37 C9 83 6A 25 8D 68 01 F0 0C
DE F6 63 D2 CD B5 5A 03 57 9A 7D E5 DA 00 E8 CC
20 AC 75 FB F9 A3 D7 97 7B 08 E3 37 49 26 9D E7
90 92 0F 62 94 5A 81 3C 08 B8 FE 3E 9C E7 3E 0A
36 AF 75 6D C9 80 E1 50 3F 66 22 96 E6 5F 4A 6F

// Address Block
[SB_HDR_ADDR_BLC_VALID_SRC]
1

[SB_HDR_ADDR_BLC_VALID_DST]
1

[SB_HDR_ADDR_BLC_VALID_SIZ]
1

[SB_HDR_ADDR_BLC_SRC_UW]
0

[SB_HDR_ADDR_BLC_SRC_LW]
0

[SB_HDR_ADDR_BLC_DST_UW]
0

[SB_HDR_ADDR_BLC_DST_LW]
0

[SB_HDR_ADDR_BLC_SIZE]
0
